@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,300&display=swap');

:root{
    --bg: #212429;
    --chrome:#fcc419;
    --wblue:#c5f6fa;
    --gold: #C58754;

}

* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    
    scroll-behavior: smooth;
    /* background: linear-gradient(90deg ,#212429,#c5f6fa); */
    background-color: var(--bg);
}

.navbar {
    border: 1px solid #C58754;
    display: flex;
    flex-direction: column;
    float: right;
    width: 50px;
    height: 92vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 20%;
    border: 2px solid red;
    
}
.nav-links li {
    list-style: none;
}

/*CSS OF THE SOCIAL*/

.item {
    color: aliceblue;
    list-style: none;
    margin: 8px -10px;
    padding: 11px 11px;
}

.navbar li {
    float: left;
}

.logo-box {
    margin: 2px 2px;
    padding: 60px 26px;
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
    color: aliceblue;
    border-radius: 0px 0px 19px 0px;
    font-weight: bold;
    font-size: 43px;
    border: 2px solid #C58754;
    border-radius: 0px 0px 90px 0px;
    width: 40px;
    height: 500px;
    background-color: #212529;
}

.logo-box h4{
    padding: 0px 0px 30px 0px;
    margin: 6px -16px;
    font-family: 'Great Vibes', cursive;
    font-size: 68%;
}

.logo-box h4:hover{
    color: #f50052;
    
}

.head{
    /* border: 2px solid whitesmoke; */

    display: inline-grid;
    text-align:left;
    margin: 24px 146px;
    padding: 11px 23px;
}

.head h2{
    color: aliceblue;
    
}

.head>h1{
    font-size: 74px;
    color: #f50052;
    font-size: 50px;
    font-family: 'Tourney', cursive;
}

/* .social-bar{
    border: 2px solid #C58754;

    display: flex;
    flex-direction: column;
    width: 56px;
    
    
    margin: -45px 0px 0px 0px;
    padding: 30px;
} */

.media{
    margin: auto;
    padding: 67px 7px 0px;
} */
/* /* .insta{
    margin: auto;
    padding: 67px 7px 0px;
}
.github{
    margin: auto;
    padding: 67px 7px 0px;
}
.twitter{
    margin: auto;
    padding: 67px 7px 0px;
}
.linkedin{
    margin: auto;
    padding: 67px 7px 0px;
} */

a{
    position: relative;
    width: 60px;
    height: 60px;
    background: #212429;
    color: #2a3632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 40px 14px;
    border-radius: 15%;
    transition: all .4s;

}

.item ul a{
     margin: 11px 0px 6px -34px;
     padding : 16px 0px 0px 8px;
    
}

.social-icons{
    height: 70%;
    width: 80px;
}

.social-icons .fab{
    margin: 45px 8px;
    font-size: 30px;
    color: var(--gold);
    display: block;
    border-radius: 5px;
}

.fa-twitter:hover{
    color: turquoise;
}

.fa-instagram:hover{
    color: rgb(230, 13, 85);
}

.fa-github:hover{
    color: white;
}

.fa-linkedin:hover{
    color: rgb(82, 120, 245);
}

.item img{
    width: 31px;
    height: 30px;
    margin: 25px 35px;
    padding: 15px 0px;
}

.box{
    /* border:2px solid chartreuse; */
    display: inline-block;
    height: 100px;
    width: 200px;
    position: fixed;
    padding: 2em 1em 0em 2em;
    margin: 15em 0em 0em -25em;

}

button{
    border-radius: 5px;
    height: 50px;
    width: 95px;
    position: relative;
    top: 15em;
    left: 1em;
}
button a{
    text-decoration: none;
}
.but{
    margin: -26em 47em -6em 16em;
    
    display: flex;
    width: 100px;
    padding: 8px 12px;

}


button:hover{
    border-radius: 40px;
    border: 1px solid brown
}

.desc{
    border: 2px solid white;
    color: whitesmoke;
    margin: 37px auto 3px 254px;
    padding: 26px 15px 21px 21px;
    width: 300px;
    display: inline-block;
    height: 218px;
    border-radius: 23px;
    font-family:'Raleway', sans-serif;

}

.image{
   
    height: 227px;
    margin: -24rem 0rem 0rem 56rem;
    width: 316px;
}

.image img{
    border-radius: 357px;
    width: 22em;
    height: 20em;
    display: inline-block;
    position:absolute;
    top: 8em;
    transition: transform 1s ease, filter 1s ease;
    filter: grayscale(100%);
}

.image img:hover{
    transform: scale(1.10);
    filter: grayscale(0%);
}


.line{
    margin: 0rem 0rem;
}


.projects{
    display: flex;
    flex-direction: row;
    /* border: 2px solid gray; */
    margin: 29rem 0rem 0rem 0rem;
    padding: 4rem 0rem 0rem 0rem;
    height: 450px;
    position: sticky;
    width: 1670px;

}



.proj h2{
    color: #a1ff0a;
    font-size: 50px;
    display: inline-block;
    margin: 25rem 0rem 0rem 42rem;
    width: 119px;
    position: absolute;
}

.projects ,proj-1 ,proj-2, proj-3{
    color: var(--bg);
}


.projects h4{
    color: #FCC419;
    background-color: #837569;
    margin: 1rem 6.5rem;
    font-weight: 50%;
}

.proj-1{
    border: 2px solid white;
    background-color:#837569;
    /* opacity: 60%; */
    width: 350px;
    height: 285px;
    margin: 1rem 4rem;
    padding: 25px 17px 23px 27px;
    border-radius:0px 0px  0px 21px;
}
.proj-2{
    border: 2px solid white;
    background-color:#837569;
    /* opacity: 60%; */
    width: 350px;
    height: 285px;
    margin: 1rem 3rem;
    padding: 25px 17px 23px 27px;
    border-radius:0px 0px 0px 21px;
}
.proj-3{
    border: 2px solid  white;
    background-color:#837569;
    /* opacity: 60%;     */
    width: 350px;
    height: 285px;
    margin: 1rem 3rem;
    padding: 25px 17px 23px 27px;
    border-radius:0px 0px 0px 21px;
}

.proj-1:hover{
    animation: ease-in-out(6s);

}

header{
    display: inline-block;
    color: var(--wblue);
    
}

.navpro{
    margin: 7rem 13rem;
    padding: 0rem 0rem;
    position: relative;
    top: 0em;
    left: 1em;
    background-color: lightgray;
}


