@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bg: #212429;
    --chrome: #fcc419;
    --wblue: #c5f6fa;
    --gold: #C58754;
}

* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    --webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    /* background: linear-gradient(90deg ,#212429,#c5f6fa); */
    background-color: var(--bg);
}

.primary-sec {
    background-color: var(--bg);
    height: 45rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}


header {
    float: right;
    margin-top: 1.5rem;
}

.main-sec {
    padding: 0px 15px;
    margin: 14px auto;
    width: 45rem;
    display: flex;
    justify-content: center;
    height: 2rem;

}

.navigation-tool a {
    text-decoration: none;
    margin: 0 auto;
    padding: 3.2rem;
    color: var(--gold);
    font-family: sans-serif;
    font-size: 1.2rem;
    transition: all .3s;
}

.navigation-tool a:hover {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 20%;
    border: 2px solid red;

}

.nav-links li {
    list-style: none;
}

/*CSS OF THE SOCIAL*/

.item {
    color: aliceblue;
    list-style: none;
    margin: 8px -10px;
    padding: 11px 11px;
}


.logo-box {
    z-index: 90;
    margin: 2px 2px;
    padding: 60px 26px;
    display: block;
    flex-direction: column;
    background: var(--bg);
    color: aliceblue;
    border-radius: 0px 0px 19px 0px;
    font-weight: bold;
    font-size: 43px;
    border: 2px solid #C58754;
    border-radius: 0px 0px 90px 0px;
    width: 40px;
    height: 500px;
    background-color: #212529;
    position: absolute;
}

.logo-box h4 {
    background: var(--bg);
    padding: 0px 0px 30px 0px;
    margin: 6px -16px;
    font-family: 'Great Vibes', cursive;
    font-size: 68%;
    transition: all .5s;
}

.logo-box h4:hover {
    color: #f50052;
    cursor: pointer;
}

/* .profile-head{
    background: var(--bg);
    position: relative;
    width: 35%;
    margin: -23rem 0rem 0rem 11rem;
} */

.image-sec {
    width: 300px;
    height: 300px;
    margin: 6rem 0rem 0rem 61rem;
    display: block;
    overflow: hidden;
}

img {
    width: 300px;
    height: 306px;
    margin: 0rem 0.2rem;
}

.profile_desc{
    width: 100%;
    margin-top: 8rem;
}



.profile-head {
    background-color: var(--bg);
    text-align: left;
    margin: -21rem 0rem 0rem 18rem;
    display: inherit;
    width: 420px;
}

.profile-head h2 {
    color: white;
    font-family: 'Tourney', cursive;
    font-size: 2.5em;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

/* emoji animation */
@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}


.profile-head>h1 {
    font-size: 74px;
    color: #f50052;
    font-size: 50px;
    font-family: 'Tourney', cursive;
}

.desc {
    /* border: 2px solid white; */
    display: block;
    width: auto;
    background: var(--bg);
    color: whitesmoke;
    margin: 3rem 17rem;
    padding: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    height: 133px;
    border-radius: 23px;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 1.2rem;
}

.media {
    margin: auto;
    padding: 67px 7px 0px;
}

*/ a {
    position: relative;
    width: 60px;
    height: 60px;
    background: #212429;
    color: #2a3632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 40px 14px;
    border-radius: 15%;
    transition: all .4s;

}

.item ul a {
    margin: 11px 0px 6px -34px;
    padding: 16px 0px 0px 8px;

}

.social-icons {
    height: 70%;
    width: 50px;
}

.social-icons .fab {
    margin: 45px 8px;
    font-size: 30px;
    color: var(--gold);
    display: block;
    border-radius: 5px;
}

.fa-twitter:hover {
    color: turquoise;
}

.fa-instagram:hover {
    color: rgb(230, 13, 85);
}

.fa-github:hover {
    color: white;
}

.fa-linkedin:hover {
    color: rgb(82, 120, 245);
}

.item img {
    width: 31px;
    height: 30px;
    margin: 25px 35px;
    padding: 15px 0px;
}

.box {
    display: inline-block;
    height: 100px;
    width: 200px;
    position: fixed;
    padding: 2em 1em 0em 2em;
    margin: 15em 0em 0em -25em;
}

/* second half of project */

/* .projects {
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    margin: 6rem 0rem;
    padding: 4rem 0rem 0rem 0rem;
    height: 450px;
    width: 1512px;
} */



/* .proj h2 {
    color: #a1ff0a;
    font-size: 50px;
    display: inline-block;
    margin: 25rem 0rem 0rem 42rem;
    width: 119px;
    position: absolute;
}

.projects,
proj-1,
proj-2,
proj-3 {
    color: var(--bg);
}

.proj-1 {
    border: 2px solid white;
    background-color: #837569;
    width: 350px;
    height: 285px;
    margin: 1rem 4rem;
    padding: 25px 17px 23px 27px;
    border-radius: 0px 0px 0px 21px;
}

.proj-2 {
    border: 2px solid white;
    background-color: #837569;
    width: 350px;
    height: 285px;
    margin: 1rem 3rem;
    padding: 25px 17px 23px 27px;
    border-radius: 0px 0px 0px 21px;
}

.proj-3 {
    border: 2px solid white;
    background-color: #837569;
    width: 350px;
    height: 285px;
    margin: 1rem 3rem;
    padding: 25px 17px 23px 27px;
    border-radius: 0px 0px 0px 21px;
}

.proj-1:hover {
    animation: ease-in-out(6s);

} */

/* .navpro {
    margin: 7rem 13rem;
    padding: 0rem 0rem;
    position: relative;
    top: 0em;
    left: 1em;
    background-color: lightgray;
}

.last-para {
    text-align: center;
    position: relative;
}

.last-para h2 {
    margin-top: .3rem;
    font-size: 2.5rem;
    color: yellowgreen;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tab ul {
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    justify-content: space-evenly;
    line-height: 2.5rem;
} */

footer {
    margin-top: 2rem;
    border: 2px solid red;
    text-align: center;
}

.footer-class {
    height: 30px;
    background-color: #f50052;
    font-size: 1.2rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}